* {
    margin: 0;
    padding: 0;
}

.table_row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: #a7a4a4 solid 2px;
}

.cell {
    width: 12%;
    display: flex; 
    flex-direction: row;
}

header {
    margin-bottom: 35px;
}

.coin {
    font-size: 20px; 
    font-weight: bold;
    margin-left: 5px;
}